{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Note Form</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <br><br><br><br><br>
        <div class='note'>
            <div class='note1'>
                <form method="POST" action="" id="noteForm">
                    {% csrf_token %}
                    <label for="to">To:</label><br><br>
                    <input type="text" id="to" name="to"><br><br>
                    <label for="fromm">From:</label><br><br>
                    <input type="text" id="fromm" name="fromm"><br><br>
                    <label for="title">Title:</label><br><br>
                    <input type="text" id="title" name="title"><br><br><br>
                    <label for="message">Message:</label><br><br>
                    <input type="text" id="message" name="message"><br><br><br>
                </form>
                <button type="submit" form="noteForm" value="Submit">Submit</button>
            </div>
        </div>
    </body>
</html>