{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  </head>
  <body>
    <div class='note'>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class='note2'>
            <table>
                <tr>
                    <th style="width:15%">To</th>
                    <th style="width:15%">From</th>
                    <th style="width:25%">Title</th>
                    <th style="width:45%">Message</th>
                </tr>
                {% if notes %}
                    {% for note in notes %}
                <tr>
                    <td>{{ note.to }}</td>
                    <td>{{ note.fromm }}</td>
                    <td>{{ note.title }}</td>
                    <td>{{ note.message }} </td>
                </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
  </body>
</html>