body {
    background-color: black;
    color: black
}

.note{
    position: relative;
}

table {
    width: 100%;
}

th, td {
    border:9px solid gray;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.note1 {
    position: absolute;
    top: 50%;
    left: 40%;
    margin: -25px 0 0 -25px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.note2{
    position: absolute;
    top: 50%;
    left: 15%;
    right: 15%;
    margin: -25px 0 0 -25px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}