<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <style>
        table, th, td {
            border:1px solid black;
          }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th style="width:30%">Name</th>
        <th style="width:30%">NPM</th>
        <th style="width:30%">DOB</th>
      </tr>
      <!-- loop from Friend model -->
      {% if friends %}
      {% for friend in friends %}
      <tr>
        <td>{{ friend.name }}</td>
        <td>{{ friend.npm }}</td>
        <td>{{ friend.DOB }}</td>
      </tr>
      {% endfor %}
    {% endif %}
      <!-- END SECTION -->
    </table>
  </body>
</html>
