<!DOCTYPE html>
<html>
    <head>
        <title>Friend Form</title>
    </head>
    <body>
        <br><br>
        <form method="POST" action="" id="friendForm">
            {% csrf_token %}
            <label for="name">Name:</label><br><br>
            <input type="text" id="name" name="name"><br><br>
            <label for="npm">NPM:</label><br><br>
            <input type="text" id="npm" name="npm"><br><br>
            <label for="DOB">DateofBirth:</label><br><br>
            <input type="date" id="DOB" name="DOB"><br><br><br>
        </form>
        <button type="submit" form="friendForm" value="Submit">Submit</button>
    </body>
</html>