<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
    <style>
    table, th, td {
        border:1px solid black;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th style="width:15%">To</th>
        <th style="width:15%">From</th>
        <th style="width:25%">Title</th>
        <th style="width:45%">Message</th>
      </tr>
      {% if notes %}
        {% for note in notes %}
      <tr>
          <td>{{ note.to }}</td>
          <td>{{ note.fromm }}</td>
          <td>{{ note.title }}</td>
          <td>{{ note.message }} </td>
      </tr>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>